[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = {extras = ["blacklist"], version = "*"}
numpy = "*"
drf-spectacular = "*"
psycopg2-binary = "*"
ippanel = "*"
python-magic = "*"
celery = "*"
redis = "*"
django-silk = "*"
flower = "*"

[dev-packages]
django-debug-toolbar = "*"
locust = "*"
faker = "*"

[requires]
python_version = "3.12"
