[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = {extras = ["blacklist"], version = "*"}
numpy = "*"
drf-spectacular = "*"
psycopg2-binary = "*"
ippanel = "*"
python-magic = "*"
redis = "*"
flower = "*"
django-celery-beat = "*"
celery = {extras = ["redis"], version = "*"}
django-extensions = "*"
pypdf2 = "*"
pdf2image = "*"
pillow = "*"
python-dateutil = "*"
python-dotenv = "*"
whitenoise = "*"
django-seed = "*"
django-admin-extensions = "*"
django-admin-interface = "*"
django-admin-notification = "*"
django-nested-admin = "*"
channels = "*"
channels-redis = "*"

[dev-packages]
django-debug-toolbar = "*"
locust = "*"
faker = "*"

[requires]
python_version = "3.12"
