[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
numpy = "*"
drf-spectacular = "*"
python-magic = "*"
redis = "*"
flower = "*"
python-dateutil = "*"
python-dotenv = "*"
whitenoise = "*"
django-admin-extensions = "*"
django-admin-interface = "*"
django-nested-admin = "*"
matplotlib = "*"
requests = "*"
tornado = "*"
django-celery-beat = "*"
celery = {extras = ["redis"], version = "*"}
pdf2image = "*"
psycopg2 = "*"
psycopg2-binary = "*"
django-environ = "*"
rest-framework-simplejwt = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
waitress = "*"

[dev-packages]
django-debug-toolbar = "*"
pyjwt = "*"

[requires]
python_version = "3.12"
