django 
djangorestframework 
django-cors-headers 
djangorestframework-simplejwt
numpy 
drf-spectacular 
psycopg2-binary 
python-magic 
redis 
flower 
django-celery-beat 
celery[redis] 
pypdf2 
pdf2image 
python-dateutil 
python-dotenv 
whitenoise 
django-admin-extensions 
django-admin-interface 
django-nested-admin 
channels 
channels-redis 
matplotlib 
django-seed 
requests 
django-environ
environ
gunicorn